<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app">
        <el-input placeholder="Nombre" v-model="input"></el-input>
        <br />
        <br />
        <el-radio v-model="radio" label="1">Masculino</el-radio>
        <el-radio v-model="radio" label="2">Femenino</el-radio>
        <br />
        <br />
        <el-input placeholder="Numero Telefónico" v-model="input2"></el-input>
        <br />
        <br />
        <el-input placeholder="Dirección" v-model="input3"></el-input>
        <br />
        <br />
        <el-select v-model="value" placeholder="Elegir facultad">
            <el-option v-for="item in options"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
        </el-select>
        <br />
        <br />
        <el-button type="primary"plain @click="visible = true">Terminar</el-button>
        <el-dialog :visible.sync="visible" title="Listo!">
            <p>Formulario completado con éxito.</p>
        </el-dialog>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                input: '',
                radio: '1',
                input: '',
                input3: '',
                options: [{
                    value: 'Ingeniería',
                    label: 'Ingeniería'
                }, {
                    value: 'Gastronomía',
                    label: 'Gastronomía'
                }, {
                    value: 'Ciencias de la Salud',
                    label: 'Ciencias de la Salud'
                }, {
                    value: 'Derecho',
                    label: 'Derecho'
                }, {
                    value: 'Arquitectura y Diseño',
                    label: 'Arquitectura y Diseño'
                }],
                value: ''
            }

        }
    })
</script>
</html>
